/****** Object:  StoredProcedure [dbo].[AddVertical]   Script Date: 3/28/2023 9:27:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[AddVertical]
	@VerticalName /*parameter name*/ varchar(96) /*datatype*/,
    @FailureEventNameList /*parameter name*/ varchar(255) /*datatype*/,
	@FailureEventGroup /*parameter name*/ varchar(255) /*datatype*/,
	@PivotSourceSubType /*parameter name*/ varchar(255) /*datatype*/,
	@IsSubVertical /*parameter name*/ bit /*datatype*/,
	@ParentVerticalName /*parameter name*/ varchar(255) /*datatype*/,
	@FailureSourceName /*parameter name*/ varchar(255) /*datatype*/,
	@VerticalFilterExpression /*parameter name*/ varchar(255) /*datatype*/
	
-- add more stored procedure parameters here
AS

    -- body of the stored procedure
	INSERT INTO RELFailureVertical(VerticalName,FailureEventNameList,FailureEventGroup,PivotSourceSubType,
	IsSubVertical,ParentVerticalName,FailureSourceName,VerticalFilterExpression) 
	VALUES(@VerticalName,@FailureEventNameList,@FailureEventGroup,@PivotSourceSubType,@IsSubVertical,@ParentVerticalName,@FailureSourceName,@VerticalFilterExpression)

