/****** Object:  StoredProcedure [dbo].[DeleteVertical]    Script Date: 3/29/2023 2:10:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[DeleteVertical]
	@VerticalName /*parameter name*/ varchar(96) /*datatype*/
	
-- add more stored procedure parameters here
AS

    -- body of the stored procedure
	DELETE FROM RELFailureVertical WHERE VerticalName = @VerticalName
