/****** Object:  StoredProcedure [dbo].[GetVerticals]    Script Date: 3/28/2023 11:11:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create the stored procedure in the specified schema
ALTER PROCEDURE [dbo].[GetVerticals]
-- add more stored procedure parameters here
AS
-- body of the stored procedure
SELECT *
FROM dbo.RELFailureVertical
FOR JSON AUTO, Include_Null_Values
