/****** Object:  StoredProcedure [dbo].[UpdateVertical]  Script Date: 3/28/2023 9:33:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[UpdateVertical]
    @VerticalName /*parameter name*/ varchar(96) /*datatype*/,
    @FailureEventNameList /*parameter name*/ varchar(255) /*datatype*/,
	@FailureEventGroup /*parameter name*/ varchar(255) /*datatype*/,
	@PivotSourceSubType /*parameter name*/ varchar(255) /*datatype*/,
	@IsSubVertical /*parameter name*/ bit /*datatype*/,
	@ParentVerticalName /*parameter name*/ varchar(255) /*datatype*/,
	@FailureSourceName /*parameter name*/ varchar(255) /*datatype*/,
	@VerticalFilterExpression /*parameter name*/ varchar(255) /*datatype*/
	
-- add more stored procedure parameters here
AS
    -- body of the stored procedure
    UPDATE RELFailureVertical 
	SET FailureEventNameList = @FailureEventNameList, 
	FailureEventGroup = @FailureEventGroup,
	PivotSourceSubType = @PivotSourceSubType, 
	IsSubVertical = @IsSubVertical,
	ParentVerticalName=@ParentVerticalName, 
	FailureSourceName=@FailureSourceName,
	VerticalFilterExpression = @VerticalFilterExpression
	WHERE VerticalName = @VerticalName
