/****** Object:  StoredProcedure [dbo].[DeletePivotScopeEnteries]    Script Date: 6/12/2023 2:00:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DeletePivotScopeEnteries]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DeletePivotScopeEnteries] AS' 
END
GO





ALTER PROCEDURE [dbo].[DeletePivotScopeEnteries]
    @PivotScopeID /*parameter name*/ int /*datatype*/ = -1 /*default value*/
	
-- add more stored procedure parameters here
AS
    -- body of the stored procedure
	DELETE FROM RELPivotScope WHERE PivotScopeID = @PivotScopeID
GO
